doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/views/css/style.css').
    title= pageTitle
    
  body 
    .bodytopmargin
    .profiles
      .profile-container
        .profile-info
          .profile-info-img-wrapper
            .profile-info-img
              img(src='http://ddragon.leagueoflegends.com/cdn/6.24.1/img/profileicon/' + example1IconId + '.png')
          .profile-info-text
            .profile-info-name= example1Name
            .profile-info-when
              .profile-info-when-lastplayed-uppertext= 'Last played'
              .profile-info-when-lastplayed-lowertext= example1LastPlayed
              .profile-info-when-decay-uppertext= 'Decay'
              .profile-info-when-decay-lowertext= example1Decay
        .profile-ranked
          .profile-ranked-img-wrapper
            .profile-ranked-img
              img(src='img/emblems/Emblem_' + example1Rank +'.png')
          .profile-ranked-rank
            .profile-ranked-uppertext
              span.profile-ranked-server= example1Platform
              span.profile-ranked-uppertext-div= example1Rank + ' ' + example1Div + '  -  ' + example1Lp + 'LP'
            .profile-ranked-lowertext
              span.profile-ranked-lowertext-games= example1Wins + 'W' + ' ' + example1Losses + 'L'
              span.profile-ranked-lowertext-between
              span.profile-ranked-lowertext-wr= example1Wr + '%'

      .profile-container
        .profile-info
          .profile-info-img-wrapper
            .profile-info-img
              img(src='http://ddragon.leagueoflegends.com/cdn/6.24.1/img/profileicon/' + example2IconId + '.png')
          .profile-info-text
            .profile-info-name= example2Name
            .profile-info-when
              .profile-info-when-lastplayed-uppertext= 'Last played'
              .profile-info-when-lastplayed-lowertext= example2LastPlayed
              .profile-info-when-decay-uppertext= 'Decay'
              .profile-info-when-decay-lowertext= example2Decay
        .profile-ranked
          .profile-ranked-img-wrapper
            .profile-ranked-img
              img(src='img/emblems/Emblem_' + example2Rank +'.png')
          .profile-ranked-rank
            .profile-ranked-uppertext
              span.profile-ranked-server= example2Platform
              span.profile-ranked-uppertext-div= example2Rank + ' ' + example2Div + '  -  ' + example2Lp + 'LP'
            .profile-ranked-lowertext
              span.profile-ranked-lowertext-games= example2Wins + 'W' + ' ' + example2Losses + 'L'
              span.profile-ranked-lowertext-between
              span.profile-ranked-lowertext-wr= example2Wr + '%'


      .profile-container.placeholder-profile