doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/views/css/style.css').
    title= pageTitle
    
  body 
    .bodytopmargin
    .profiles
      .profile-container
        .profile-info
          .profile-info-img-wrapper
            .profile-info-img
              img(src='http://ddragon.leagueoflegends.com/cdn/6.24.1/img/profileicon/' + uwumidIconId + '.png')
          .profile-info-text
            .profile-info-name= uwumidName
            .profile-info-when
              .profile-info-when-lastplayed-uppertext= 'Last played'
              .profile-info-when-lastplayed-lowertext= uwumidLastPlayed
              .profile-info-when-decay-uppertext= 'Decay'
              .profile-info-when-decay-lowertext= uwumidDecay
        .profile-ranked
          .profile-ranked-img-wrapper
            .profile-ranked-img
              img(src='img/emblems/Emblem_' + uwumidRank +'.png')
          .profile-ranked-rank
            .profile-ranked-uppertext
              span.profile-ranked-server= uwumidPlatform
              span.profile-ranked-uppertext-div= uwumidRank + ' ' + uwumidDiv + '  -  ' + uwumidLp + 'LP'
            .profile-ranked-lowertext
              span.profile-ranked-lowertext-games= uwumidWins + 'W' + ' ' + uwumidLosses + 'L'
              span.profile-ranked-lowertext-between
              span.profile-ranked-lowertext-wr= uwumidWr + '%'

      .profile-container
        .profile-info
          .profile-info-img-wrapper
            .profile-info-img
              img(src='http://ddragon.leagueoflegends.com/cdn/6.24.1/img/profileicon/' + fffarelllIconId + '.png')
          .profile-info-text
            .profile-info-name= fffarelllName
            .profile-info-when
              .profile-info-when-lastplayed-uppertext= 'Last played'
              .profile-info-when-lastplayed-lowertext= fffarelllLastPlayed
              .profile-info-when-decay-uppertext= 'Decay'
              .profile-info-when-decay-lowertext= fffarelllDecay
        .profile-ranked
          .profile-ranked-img-wrapper
            .profile-ranked-img
              img(src='img/emblems/Emblem_' + fffarelllRank +'.png')
          .profile-ranked-rank
            .profile-ranked-uppertext
              span.profile-ranked-server= fffarelllPlatform
              span.profile-ranked-uppertext-div= fffarelllRank + ' ' + fffarelllDiv + '  -  ' + fffarelllLp + 'LP'
            .profile-ranked-lowertext
              span.profile-ranked-lowertext-games= fffarelllWins + 'W' + ' ' + fffarelllLosses + 'L'
              span.profile-ranked-lowertext-between
              span.profile-ranked-lowertext-wr= fffarelllWr + '%'

      .profile-container
        .profile-info
          .profile-info-img-wrapper
            .profile-info-img
              img(src='http://ddragon.leagueoflegends.com/cdn/6.24.1/img/profileicon/' + barcodeIconId + '.png')
          .profile-info-text
            .profile-info-name= barcodeName
            .profile-info-when
              .profile-info-when-lastplayed-uppertext= 'Last played'
              .profile-info-when-lastplayed-lowertext= barcodeLastPlayed
              .profile-info-when-decay-uppertext= 'Decay'
              .profile-info-when-decay-lowertext= barcodeDecay
        .profile-ranked
          .profile-ranked-img-wrapper
            .profile-ranked-img
              img(src='img/emblems/Emblem_' + barcodeRank +'.png')
          .profile-ranked-rank
            .profile-ranked-uppertext
              span.profile-ranked-server= barcodePlatform
              span.profile-ranked-uppertext-div= barcodeRank + ' ' + barcodeDiv + '  -  ' + barcodeLp + 'LP'
            .profile-ranked-lowertext
              span.profile-ranked-lowertext-games= barcodeWins + 'W' + ' ' + barcodeLosses + 'L'
              span.profile-ranked-lowertext-between
              span.profile-ranked-lowertext-wr= barcodeWr + '%'

      .profile-container
        .profile-info
          .profile-info-img-wrapper
            .profile-info-img
              img(src='http://ddragon.leagueoflegends.com/cdn/6.24.1/img/profileicon/' + farelIconId + '.png')
          .profile-info-text
            .profile-info-name= farelName
            .profile-info-when
              .profile-info-when-lastplayed-uppertext= 'Last played'
              .profile-info-when-lastplayed-lowertext= farelLastPlayed
              .profile-info-when-decay-uppertext= 'Decay'
              .profile-info-when-decay-lowertext= farelDecay
        .profile-ranked
          .profile-ranked-img-wrapper
            .profile-ranked-img
              img(src='img/emblems/Emblem_' + farelRank +'.png')
          .profile-ranked-rank
            .profile-ranked-uppertext
              span.profile-ranked-server= farelPlatform
              span.profile-ranked-uppertext-div= farelRank + ' ' + farelDiv + '  -  ' + farelLp + 'LP'
            .profile-ranked-lowertext
              span.profile-ranked-lowertext-games= farelWins + 'W' + ' ' + farelLosses + 'L'
              span.profile-ranked-lowertext-between
              span.profile-ranked-lowertext-wr= farelWr + '%'

      .profile-container
        .profile-info
          .profile-info-img-wrapper
            .profile-info-img
              img(src='http://ddragon.leagueoflegends.com/cdn/9.15.1/img/profileicon/' + adcbutapIconId + '.png')
          .profile-info-text
            .profile-info-name= adcbutapName
            .profile-info-when
              .profile-info-when-lastplayed-uppertext= 'Last played'
              .profile-info-when-lastplayed-lowertext= adcbutapLastPlayed
              .profile-info-when-decay-uppertext= 'Decay'
              .profile-info-when-decay-lowertext= adcbutapDecay
        .profile-ranked
          .profile-ranked-img-wrapper
            .profile-ranked-img
              img(src='img/emblems/Emblem_' + adcbutapRank +'.png')
          .profile-ranked-rank
            .profile-ranked-uppertext
              span.profile-ranked-server= adcbutapPlatform
              span.profile-ranked-uppertext-div= adcbutapRank + ' ' + adcbutapDiv + '  -  ' + adcbutapLp + 'LP'
            .profile-ranked-lowertext
              span.profile-ranked-lowertext-games= adcbutapWins + 'W' + ' ' + adcbutapLosses + 'L'
              span.profile-ranked-lowertext-between
              span.profile-ranked-lowertext-wr= adcbutapWr + '%'

      .profile-container.placeholder-profile